[submodule "vim-janus/.janus/csapprox"]
	path = vim-janus/.janus/csapprox
	url = https://github.com/godlygeek/csapprox
	branch = master
[submodule "vim-janus/.janus/delimitmate"]
	path = vim-janus/.janus/delimitmate
	url = https://github.com/Raimondi/delimitmate
	branch = master
[submodule "vim-janus/.janus/gruvbox"]
	path = vim-janus/.janus/gruvbox
	url = https://github.com/morhetz/gruvbox
	branch = master
[submodule "vim-janus/.janus/slimux"]
	path = vim-janus/.janus/slimux
	url = https://github.com/epeli/slimux
	branch = master
[submodule "vim-janus/.janus/vim-airline"]
	path = vim-janus/.janus/vim-airline
	url = https://github.com/bling/vim-airline
	branch = master
[submodule "vim-janus/.janus/vim-indent-guides"]
	path = vim-janus/.janus/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
	branch = master
[submodule "vim-janus/.janus/xmledit"]
	path = vim-janus/.janus/xmledit
	url = https://github.com/sukima/xmledit
	branch = master
[submodule "vim-janus/.vim"]
	path = vim-janus/.vim
	url = https://github.com/carlhuda/janus
	branch = master
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	branch = master
[submodule "oh-my-zsh/.oh-my-zsh"]
	path = oh-my-zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
	branch = master
[submodule "spacemacs-emacs/.emacs.d"]
	path = spacemacs-emacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
	branch = master
[submodule "vim-janus/.janus/lucario"]
	path = vim-janus/.janus/lucario
	url = https://github.com/raphamorim/lucario
	branch = master
[submodule "vim-janus/.janus/vim-diminactive"]
	path = vim-janus/.janus/vim-diminactive
	url = https://github.com/blueyed/vim-diminactive
	branch = master
[submodule "vim-janus/.janus/vim-yankstack"]
	path = vim-janus/.janus/vim-yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack
	branch = master
[submodule "vim-janus/.janus/Nagelfar-Vim"]
	path = vim-janus/.janus/Nagelfar-Vim
	url = https://github.com/JessicaKMcIntosh/Nagelfar-Vim
	branch = master
[submodule "vim-janus/.janus/vim-over"]
	path = vim-janus/.janus/vim-over
	url = https://github.com/osyo-manga/vim-over
	branch = master
[submodule "vim-janus/.janus/vitality.vim"]
	path = vim-janus/.janus/vitality.vim
	url = https://github.com/sjl/vitality.vim
	branch = master
[submodule "vim-janus/.janus/Conque-Shell"]
	path = vim-janus/.janus/Conque-Shell
	url = https://github.com/vim-scripts/Conque-Shell
	branch = master
[submodule "vim-janus/.janus/vim-one"]
	path = vim-janus/.janus/vim-one
	url = https://github.com/rakr/vim-one
[submodule "vim-janus/.janus/vim-hust"]
	path = vim-janus/.janus/vim-hust
	url = https://github.com/vim-utils/vim-husk
[submodule "space-vim/.space-vim"]
	path = space-vim/.space-vim
	url = https://github.com/liuchengxu/space-vim.git
[submodule "spacevim/.SpaceVim"]
	path = spacevim/.SpaceVim
	url = https://github.com/SpaceVim/SpaceVim.git
[submodule "spacevim/.cache/vimfiles/repos/github.com/Shougo/dein.vim"]
	path = spacevim/.cache/vimfiles/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim.git
